section {
    position: absolute;
    align-self: center;
    width: 100%;
    height: 40vh;
    display: flex;
    align-items: center;
    padding: 0 10vw;
    z-index: 100;
    .figure {
        width: 50%;
        display: flex;
        .figure-content {
            width: 80%;
        }
    }
    .description {
        width: 50%;
        display: flex;
        .description-content {
            flex-direction: column;
            align-items: center;
            font-size: calc(6px + 1.9vw);
            line-height: 1.1em;
            .br {
                height: 3vw;
            }
        }
    }
}

@media (max-width: 822px) {
    section {
        flex-direction: column;
        height: 61vh;
        justify-content: space-evenly;
        .figure .figure-content {
            margin: auto;
            width: calc(50px + 15vw);
        }
        .description {
            width: 100%;
        }
        .description .description-content {
            text-align: center;
            font-size: calc(13px + 1vw);
        }
    }
}
