* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    background: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    font-family: "VT323", monospace;
}

nav {
    width: 80vw;
    ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
        li {
            list-style: none;
        }
        li:not(#logo) {
            margin-top: 0.8vw;
        }
    }
}

nav a {
    text-decoration: none;
    color: #949494;
    // font-size: 2.2vw;
    font-size: calc(11px + 1.1vw);
}

#logo a {
    display: flex;
    align-items: center;
}

#logomark {
    display: inline-block;
    width: 2.75862vw;
    height: 2.75862vw;
    background-color: #949494;
}

#logotype {
    margin-left: 0.9vw;
    // font-size: 3.2vw;
    font-size: calc(20px + 1.6vw);
}

#card {
    width: 80vw;
    height: 77%;
    background-color: #e6e6e6;
    position: relative;
}

#corners {
    height: 100%;
    display: flex;
    flex-direction: row;
}

section {
    position: absolute;
    align-self: center;
    width: 100%;
    height: 40vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    padding: 0 10vw;
    z-index: 100;
    .figure {
        // width: 72%;
        width: calc(9px + 20vw);
        display: flex;
        align-items: center;
    }
    .description {
        display: flex;
        flex-direction: column;
        height: calc(9px + 20vw);
        overflow: auto;
        font-size: calc(6px + 1.7vw);
        line-height: 1.1em;
        .br {
            height: 3vw;
        }
    }
}

.focused {
    color: black;
}

.pixel {
    width: 2.75862vw;
    height: 2.75862vw;
}

#top-left {
    #row1 {
        div {
            float: left;
        }
    }
    #row2,
    #row3,
    #row4,
    #row5 {
        div {
            float: left;
        }
        div:nth-child(1) {
            clear: left;
        }
    }
}

#top-right {
    position: absolute;
    top: 0;
    right: 0;
    #row1 {
        div {
            float: right;
        }
    }
    #row2,
    #row3,
    #row4,
    #row5 {
        div {
            float: right;
        }
        div:first-child {
            clear: right;
        }
    }
}

#bottom-left {
    position: absolute;
    bottom: 0;
    left: 0;
    #row5 {
        div {
            float: left;
        }
    }
    #row1,
    #row2,
    #row3,
    #row4 {
        div {
            float: left;
        }
        div:nth-child(1) {
            clear: left;
        }
    }
}

#bottom-right {
    position: absolute;
    bottom: 0;
    right: 0;
    #row5 {
        div {
            float: right;
        }
    }
    #row1,
    #row2,
    #row3,
    #row4 {
        div {
            float: right;
        }
        div:first-child {
            clear: right;
        }
    }
}
