* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    background: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

a {
    font-size: 1em;
    text-decoration: none;
    color: black;
    font-family: "Courier New", Courier, monospace;
    display: block;
    margin-bottom: 1em;
}

#card {
    width: 80vw;
    height: 80%;
    background-color: #ececec;
    position: relative;
}

#top-left {
    #row1 {
        div {
            float: left;
        }
    }
    #row2,
    #row3,
    #row4,
    #row5 {
        div {
            float: left;
        }
        div:nth-child(1) {
            clear: left;
        }
    }
}

#top-right {
    position: absolute;
    top: 0;
    right: 0;
    #row1 {
        div {
            float: right;
        }
    }
    #row2,
    #row3,
    #row4,
    #row5 {
        div {
            float: right;
        }
        div:first-child {
            clear: right;
        }
    }
}

#bottom-left {
    position: absolute;
    bottom: 0;
    left: 0;
    #row5 {
        div {
            float: left;
        }
    }
    #row1,
    #row2,
    #row3,
    #row4 {
        div {
            float: left;
        }
        div:nth-child(1) {
            clear: left;
        }
    }
}

#bottom-right {
    position: absolute;
    bottom: 0;
    right: 0;
    #row5 {
        div {
            float: right;
        }
    }
    #row1,
    #row2,
    #row3,
    #row4 {
        div {
            float: right;
        }
        div:first-child {
            clear: right;
        }
    }
}
