// @import url("https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&display=swap");

$pixelEdge: calc(11px + 1.6vw);

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    background: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    font-family: "VT323", monospace;
}

nav {
    width: 80vw;
    ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
        li {
            list-style: none;
        }
        li:not(#logo) {
            margin-top: 0.4vw;
        }
    }
}

nav a {
    text-decoration: none;
    color: #949494;
    font-size: calc(11px + 1.6vw);
}

#nav2,
#nav2 ul > * {
    display: none;
}

.focused {
    color: black;
}

#logo a {
    display: flex;
    align-items: center;
}

#logomark {
    display: inline-block;
    width: $pixelEdge;
    height: $pixelEdge;
}

#logotype {
    margin-left: 0.9vw;
    font-weight: bold;
    font-size: calc(20px + 1.6vw);
}

#card {
    width: 80vw;
    height: 77%;
    background-color: #ececec;
    position: relative;
}

#corners {
    height: 100%;
    display: flex;
    flex-direction: row;
}

.pixel {
    width: $pixelEdge;
    height: $pixelEdge;
}

#top-left {
    #row1 {
        div {
            float: left;
        }
    }
    #row2,
    #row3,
    #row4,
    #row5 {
        div {
            float: left;
        }
        div:nth-child(1) {
            clear: left;
        }
    }
}

#top-right {
    position: absolute;
    top: 0;
    right: 0;
    #row1 {
        div {
            float: right;
        }
    }
    #row2,
    #row3,
    #row4,
    #row5 {
        div {
            float: right;
        }
        div:first-child {
            clear: right;
        }
    }
}

#bottom-left {
    position: absolute;
    bottom: 0;
    left: 0;
    #row5 {
        div {
            float: left;
        }
    }
    #row1,
    #row2,
    #row3,
    #row4 {
        div {
            float: left;
        }
        div:nth-child(1) {
            clear: left;
        }
    }
}

#bottom-right {
    position: absolute;
    bottom: 0;
    right: 0;
    #row5 {
        div {
            float: right;
        }
    }
    #row1,
    #row2,
    #row3,
    #row4 {
        div {
            float: right;
        }
        div:first-child {
            clear: right;
        }
    }
}

section {
    position: absolute;
    align-self: center;
    width: 100%;
    height: 40vh;
    display: flex;
    align-items: center;
    padding: 0 10vw;
    z-index: 100;
    .figure {
        width: 50%;
        display: flex;
        .figure-content {
            width: 80%;
        }
    }
    .description {
        width: 50%;
        display: flex;
        .description-content {
            flex-direction: column;
            align-items: center;
            font-size: calc(6px + 1.9vw);
            line-height: 1.1em;
            .br {
                height: 3vw;
            }
        }
    }
}

@media (max-width: 822px) {
    section {
        flex-direction: column;
        height: 61vh;
        justify-content: space-evenly;
        .figure .figure-content {
            margin: auto;
            width: calc(50px + 15vw);
        }
        .description {
            width: 100%;
        }
        .description .description-content {
            text-align: center;
            font-size: calc(13px + 1vw);
        }
    }
}

@media (max-width: 640px) {
    #nav1 li:nth-last-child(-n + 3) {
        display: none;
    }
    #nav2,
    #nav2 li {
        display: block;
    }
    #nav1,
    #nav2 {
        li:not(#logo) {
            a {
                font-size: calc(11px + 3vw);
            }
        }
    }
}
